main{
    position: relative;
    top: 115px;
}

.contenedor-uno{
    width: 100%;
    height: 340px;
    background-image: url(../img/img-karcher.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 200px){
    .contenedor-uno{
        background-size: 100%;
    }
    
}